doctype html
html
    head
        //meta(charset="utf8")
        //title "Demo"
    body
        a(href="http://jquery.com") "jquery"
        script(src="jquery.js")
        script
            //your code goes herr.

